#market .marketContent .grid .img{
    position: relative;
}
#market .marketContent .grid .img::after{
    content: '';
    width: 25%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
}
#market .marketContent .grid div:hover .img::after{
    width: 50%;
    background-color: #1dbf73;
}